extends ../layout

block content
  //TODO: Fill this with relevant information
  .page-header
    h3 So you want to be a client for one of our student teams?

  h4 What is COMP 523
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse turpis sem, laoreet id pulvinar a, egestas eget massa. Integer commodo venenatis tincidunt. Morbi sagittis interdum nibh in finibus. In congue sem vel mi hendrerit hendrerit. Fusce finibus, arcu eu egestas eleifend, nisi lectus lacinia sem, vel blandit augue velit elementum nunc. Sed libero nibh, blandit at sagittis ut, sodales id lacus. Aenean tristique rutrum pretium. Maecenas in faucibus urna, non condimentum est. Suspendisse nec fringilla nisl. Fusce elit elit, sagittis eget nunc dictum, pulvinar semper eros. Etiam a interdum erat. Etiam ultricies, metus vel consectetur semper, lacus arcu mattis nibh, vitae ultricies nulla risus eu nisl. Praesent semper lorem id accumsan suscipit. Maecenas ornare mauris id ipsum tempor laoreet. Nulla aliquam lectus eget lobortis blandit.
  hr

  h4 Where do you come in?
  p Nam blandit volutpat felis pharetra dapibus. Vestibulum lobortis pulvinar feugiat. Nulla in nisi non urna dictum viverra. Vestibulum gravida eget erat a cursus. Maecenas accumsan turpis ut nunc varius euismod. Nulla dignissim maximus justo vitae interdum. Etiam vel arcu et ipsum euismod fringilla. Nullam lobortis risus eros, non gravida mi semper eget. Pellentesque eu tortor vel leo vestibulum ultrices. Sed congue dapibus rutrum.
  hr

  h4 Still Interested?
  a.btn.btn-default(href='/client/agreement', role='button') Start your application »