extends layout

block content
  h1 COMP 523 Manager
  p.lead A web-app for teachers, students, and potential clients to interact in the UNC COMP523 class.
  hr
  .row
    .col-sm-6
      h2 Potential Clients
      p Do you want to be a client for our students? View below to apply to be a client for the upcoming semester!
      p
        a.btn.btn-default(href='/client/information', role='button') View details »
    .col-sm-6
      h2 Students
      p Click through below to form groups and choose a client for your project.
      p
        a.btn.btn-default(href='/student', role='button') View details »
  .row
    .col-sm-6
      h2 Instructor
      p Manage interactions with potential clients, assign the final group-client pairs, and keep track of student progress on milestones.
      p
        a.btn.btn-default(href='/instructor', role='button') View details »
    .col-sm-6
      h2 Student Resources
      p Find resources for requirements, milestones, and more.
      p
        a.btn.btn-default(href='/student/resources', role='button') View details »