extends ../layout

block content
    #breadcrumb
    h3 Manage Client Project Proposals
    button.pending.btn.btn-primary.btn-sm(type='button') Pending
    button.approved.btn.btn-success.btn-sm(type='button') Approved
    button.rejected.btn.btn-warning.btn-sm(type='button') Rejected
    button.deleted.btn.btn-danger.btn-sm(type='button') Deleted
    p
    p(style=" color: #5bc0de") Pending - Use for current semester pending projects (new proposals are automatically queued here)
    p(style=" color: #5cb85c") Approved - Use for current semester approved projects (public approved project link draws from the data queued here)
    p(style=" color: #FF8000") Rejected - Use for current semester rejected projects, or a place for previous semester restored projects that have potential
    p(style=" color: #FF0000") Deleted - Use to store proposals in the database that you do not want to consider. You can restore any of these to Pending for reconsideration.
    #dynamic
    //Dynamically populate based on selected type of proposal, with pending as default
    script
        | $('#breadcrumb').append(createBreadcrumb());
        | $.get('pendingProjects').then(function(html) {
        |   $('#dynamic').append(html);
        | });
        | $(".pending").on("click", function(){
        |   $.get('pendingProjects').then(function(html) {
        |       $('#dynamic').empty();
        |       $('#dynamic').append(html);
        |   });
        | })
        | $(".approved").on("click", function(){
        |   $.get('approvedProjects').then(function(html) {
        |       $('#dynamic').empty();
        |       $('#dynamic').append(html);
        |   });
        | })
        | $(".rejected").on("click", function(){
        |   $.get('rejectedProjects').then(function(html) {
        |       $('#dynamic').empty();
        |       $('#dynamic').append(html);
        |   });
        | })
        | $(".deleted").on("click", function(){
        |   $.get('deletedProjects').then(function(html) {
        |       $('#dynamic').empty();
        |       $('#dynamic').append(html);
        |   });
        | })
