extends ../layout
block content
    .page-header
        h3 Resources
    .panel.panel-default
        a(href='vids.html') Topic Videos
    .panel.panel-default
        a(href='http://www.unc.edu/~stotts/comp523/CDC-funcSpecs-template.doc') CDC Functional Requirements Template
        br
        |  Use this template for your COMP 523 project
        br
        br
        |
        a(href='http://en.wikipedia.org/wiki/Unified_Modeling_Language') UML: Unified Modeling Language
        br
        |
        a(href='http://www.sparxsystems.com/uml-tutorial.html') UML tutorial
        br
        |
        a(href='http://www.omg.org/spec/UML/') OMG UML spec
        |  (what is
        a(href='http://en.wikipedia.org/wiki/Object_Management_Group') OMG
        | ?)
        br
        |
        a(href='http://www.omg.org/gettingstarted/what_is_uml.htm') OMG overview
        br
        br
        |
        a(href='http://www.youtube.com/watch?v=e9J04EKD9Ls') User stories video
        br
        br
        |
        a(href='http://www.youtube.com/watch?feature=endscreen&v=1PMjiWbdD1Y&NR=1') Use cases video
        br
        |
        a(href='http://www.youtube.com/watch?v=ge_z0inXU48') Use case diagrams (UML) video
        br
        br
        |
        a(href='http://c2.com/doc/oopsla89/paper.html') CRC original OOPSLA paper
        br
        |
        a(href='http://www.youtube.com/watch?v=r4teBrYAlLY') CRC Cards video
        br
        |
        a(href='http://www.youtube.com/watch?v=YYn1cCEPVbM') CRC finding classes and responsibilities video
        br
        |
        a(href='http://www.agilemodeling.com/artifacts/crcModel.htm') CRC Cards overview
        br
        |
        a(href='http://www.unc.edu/~stotts/comp523/CRCcards.ppt') CRC overview ppt
        br
        |
        a(href='http://www.openloop.com/education/classes/umn_98/umn_cpp/crc.htm') CRC session example
        br
        |
        a(href='http://www.slideshare.net/RapPayne/crc-cards') CRC cards
        a(href='http://www.unc.edu/~stotts/comp523/CRCOOD.ppt') CRC and OOD
        br
        |
        a(href='http://www.math-cs.gordon.edu/courses/cps211/ATMExample/CRCCards.html') CRC example for ATM (transcribed cards)
        br
        br
        |
        a(href='http://www.youtube.com/watch?v=lFGIVHeQPbg') software architecture
        br
        |
        a(href='http://www.youtube.com/watch?v=80RpGkn6fqA') software architecture
        br
        |
        a(href='http://www.youtube.com/watch?v=Dtd0njgo4s8') 10 things software architects should know
        br
        |
        a(href='http://www.youtube.com/watch?v=CRx4h4ITx9g') useability and software architecture
        br